<html>
<head>
    <title>Title</title>
</head>

<body>
    <div>
        <a href="/">Home</a>
        <a href="/blog/list">Articles</a>
        <a href="/login">Login</a>
        <a href="/about">About</a>
    </div>
</body>

</html>