{% extends 'layouts/base.html.twig' %}

{% block content %}
    <h1>Please log in</h1>

    <form action="#">
        <input type="text" name="name" placeholder="Your Name">
        <input type="text" name="password" placeholder="Your Password">
        <button type="submit">Log In</button>
    </form>
{% endblock %}